<div class="page=header">
	<h1><%= @post.title %></h1>
	<h5>by <%= @post.author %></h5>
</div>


<div class="content">
	<%= @post.content %>
</div>

<%= button_to 'Edit', edit_post_path, method: :get, class: 'btn' %>
