// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_title {
	font-size: 18px;
	font-weight: bold;
	height: 20px;
}

.post_info {
	font-size: 12px;
	font-style: italic;
}

.post_config {
	font-size: 12px;
	display: none;
	margin-left: 10px;
	a {
		color: #5a5a5a;

		&:hover {
			text-decoration: underline;
		}
	}
}

.blog_post:hover .post_config {
	display: inline;
}

.page-header > h1 {
	display: inline;
}

.page-header > a {
	float: right;
	position: relative;
	top: 10px;
}